menu "Project Configuration"
   config MAX_CONNECTION
      int "Max numberof connections"
      default 10

   config CONNECTION_TIMEOUT
      int "Milliseconds before closing idle connection"
      default 10000

   config CAMERA_FPS_CAP
      int "Camera FPS Cap"
      default 30

   config CAMERA_PORT
      int "Camera port"
      default 3232

   config WIFI_SSID
      string "Wifi SSID"

   config WIFI_PASS
      string "Wifi Password"
endmenu
