menu "Project Configuration"
   config CAMERA_FPS_CAP
      int "Camera FPS Cap"
      default 30

   config CAMERA_PORT
      int "Camera port"
      default 3232

   config WIFI_SSID
      string "Wifi SSID"

   config WIFI_PASS
      string "Wifi Password"
endmenu
